Flask
gunicorn
Flask-Cors
opencv-python-headless
numpy
# deepface'in en güncel versiyonunu kurmasına izin veriyoruz
deepface
# tensorflow'un en güncel versiyonunu kurmasına izin veriyoruz
tensorflow
# tf-keras'in en güncel versiyonunu kurmasına izin veriyoruz
tf-keras